
    .slider-next,.slider-previous{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 5;
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      top:40%;
     
    }
    .slider-next{
      right: 8px;
    }
    .slider-previous{
      left: 8px;
    }

  
  