.hm-container{
    margin:0 200px ;
    display: flex;
    box-sizing: border-box;
}
.top-img{
    width:350px;
    height:350px;
    border-radius: 10px;
    
}
.sn-row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.row-im{
    height: 60px;
    width: 60px;
    border-radius: 20%;

}
.hm-right{
    width: 50%;
    margin-left: 150px;
    margin-top: 40px;
}
.txt1{
    color: hsl(26, 100%, 55%);
    font-weight:900;
    font-size: 10px;
    font-family: "Kumbh Sans";
} 
.txt2{
    font-weight: bold;
    font-family: "Kumbh Sans";
    width:60%
}
.txt3{
    font-size: 12px;
    line-height: 2em;
    font-family: "Kumbh Sans";
    color: hsl(219, 9%, 45%);
    width: 88%;
}

.hm-right-2{
    width: 35%;
    display:flex;
    justify-content: space-between;
}
h3{
    font-size: 25px;
}
.amount{
    font-family: "Kumbh Sans"; 
}

.dis{
    margin: 30px 0;
    align-items: center;
    border-radius: 5px;
    background-color:  hsl(25, 100%, 94%); 
    color:  hsl(26, 100%, 55%);
    font-size: 10px;
    padding: 5px;
    font-family: "Kumbh Sans";
}
.old{
    font-size: 10px;
    text-decoration:line-through;
    color:  hsl(220, 14%, 75%);
    position:absolute;
    bottom: 240px;
}
.hm-right-3{
    display: flex;
    justify-content: space-between;
}
.btn-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color:  hsl(223, 64%, 98%) ;
    width: 30%;
}
button{
    border: none;
    background-color:  hsl(223, 64%, 98%) ;
    cursor: pointer;
}
.add-cart{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    width: 70%;
}
.add-cart:hover{
    opacity: 0.7;
}
.icon{
    margin-right: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}
.slider-next,.slider-previous{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:40%;
  }
  .slider-next{
    right: 8px;
  }
  .slider-previous{
    left: 8px;
  }
  .slider-bottomContainer{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
  }
  .bot-img{
      height: 65px;
      width: 70px;
      border-radius: 10%;

  }
  .opacity{
    opacity: 0.4;
  }